html,
body,
#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 0;

  overflow-x: hidden;
  background-color: #201f1f;
}
body {
  background-image: url("https://media.istockphoto.com/photos/studio-photography-black-picture-id1094453686?b=1&k=20&m=1094453686&s=170667a&w=0&h=oYT6Gi5J0cVZRSWjRWyj__IQcsMhxniIMjbPDBJTOHM=");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  position: absolute;
  color: rgb(103, 222, 202);
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 48px;
  letter-spacing: 4px;
  width: 40%;
  margin-left: 2rem;
  /* padding-bottom: 4rem; */
}
.project-header {
  color: rgb(103, 222, 202);
  left: 48%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 48px;
  letter-spacing: 4px;
}
.line {
  height: 1px;
  width: 60%;
  margin-left: 4rem;
  /* margin-right: 4rem; */
  background-color: rgb(236, 213, 241);
}
.line-wide {
  height: 1px;
  width: 17%;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(236, 213, 241);
}
.header-top {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 10%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 40%;
  margin-left: 2rem;
}
.header-bottom {
  position: absolute;
  color: white;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 50%;
  height: auto;
  justify-content: center;
  text-align: center;
}
.toggle-btn {
  position: sticky;
  float: right;
  margin: 1.4em;
  width: 40px;
  height: 12px;
  right: 0;
  padding: 1em;
  z-index: 5;
}

span.one {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: white;
}
span.two {
  position: absolute;
  width: 40px;
  height: 2px;
  margin-top: 12px;
  background-color: white;
}

.menu {
  z-index: 2;
  position: absolute;

  height: 100vh;
  width: 100%;
  background-color: #101010;
  top: -200%;
}
ul {
  list-style: none;
}
a {
  list-style: none;
  color: white;
  cursor: pointer;
}
.data {
  padding: 8em 0 0 2em;
  text-align: left;
  z-index: 3;
}

.nav-list {
  color: white;
  font-size: 42px;
  letter-spacing: 3px;
  padding-bottom: 1rem;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: rgb(236, 243, 134);
}
.btn {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: rgb(236, 234, 93);
  border: 1px solid yellow;
  color: black;
}
.project-cont {
  width: 100%;
  height: auto;
  max-height: 840vh;
  padding-bottom: 4rem;
  background-image: url("https://media.istockphoto.com/photos/studio-photography-black-picture-id1094453686?b=1&k=20&m=1094453686&s=170667a&w=0&h=oYT6Gi5J0cVZRSWjRWyj__IQcsMhxniIMjbPDBJTOHM=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: radial-gradient(
    circle,
    #9b9296,
    #888187,
    #767177,
    #646168,
    #525259,
    #47474e,
    #3c3d43,
    #323338,
    #2b2b2f,
    #232426,
    #1c1c1d,
    #151515
  );
}
.details-cont {
  height: auto;
  padding-left: 4rem;
  padding-top: 4rem;
  display: flex;
  margin-right: 2rem;
  width: 80%;
  flex-wrap: wrap;
}

.left-cont {
  display: flex;
  max-height: 80vh;
  /* margin-right: 4rem; */
  width: 100%;
}

.right-cont {
  border-radius: 0.4rem;
  box-shadow: 0px 10px 18px #717273;
  color: white;
  margin-left: 10%;
  margin-top: 3rem;
  width: 92%;
  max-height: 80vh;
}

@media screen and (max-width: 992px) {
  .second-cont {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .second-cont {
    display: flex;
  }
}
.second-cont {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 95%;
  margin-left: 4rem;
  margin-right: 4rem;
  max-height: 200vh;
}
@media screen and (max-width: 992px) {
  .second-right {
    flex-basis: 25%;
  }
}
@media screen and (max-width: 992px) {
  .second-left {
    flex-basis: 25%;
  }
}
.second-right {
  border-radius: 0.4rem;
  box-shadow: 0px 10px 18px #717273;
  color: white;
  flex-basis: 35%;
  min-height: 86vh;
  margin-bottom: 2rem;
  max-width: 85%;
  margin-right: 3rem;
  max-height: 90vh;
}
.left-container {
  border-radius: 0.4rem;
  min-height: 50vh;
  padding: 20px;
  box-shadow: 0px 10px 18px #717273;
  width: 90%;
  max-height: 80vh;
  float: right;
  justify-content: end;

  margin-left: 10%;
}
.second-left {
  border-radius: 0.4rem;
  min-height: 50vh;
  padding: 20px;
  max-width: 80%;
  display: grid;
  flex-basis: 50%;
  box-shadow: 0px 10px 18px #717273;
  max-height: 80vh;
}
.second-list {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
  max-height: 80vh;
}

.tech-list {
  font-size: 15px;
  color: rgb(212, 203, 203);
  padding-right: 3rem;
  padding-bottom: 1rem;
  max-height: 80vh;
}
.tech-cont-flex {
  width: 90%;
  height: 60px;
  display: flex;
  align-items: center;
  /* padding-bottom: 2rem; */
}
/* li {
  list-style: none;
} */
@media screen and (max-width: 992px) {
  .tech-cont-flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .tech-cont-flex {
    display: flex;
  }
}
.third-cont {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 90%;
  margin-left: 4rem;
  margin-right: 4rem;
  min-height: 60vh;
}

.forth-cont {
  min-height: 300vh;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  margin-left: 6rem;
}
.column {
  /* min-width: max-content; */
  width: auto;
  height: auto;
  max-height: 130vh;
  margin-right: 2rem;
  box-shadow: 0px 10px 18px #717273;
  padding: 20px;
  border-radius: 0.4rem;
}
.makeup-bottom {
  height: 50vh;
  width: 100%;
  margin-top: 2rem;
}
